html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #fffaf5;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Sora", sans-serif;
}

h1.heading {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
}

h2.heading {
  user-select: none;
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
}

.container {
  background-color: #fff6ed;
  border-radius: 1rem;
  border: 2px solid rgba(255, 188, 122, 0.26);
  width: 90vw;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container.article-container {
  border: none;
  background: #fffaf5;
}

.container.nav-container {
  height: 5rem;
  background: #fff;
}

.container .nav-field {
  width: 70%;
  max-width: 192rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container .nav-field .nav-list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.container .nav-field .nav-list .nav-item {
  user-select: none;
  width: 100%;
  transition: all 0.25s;
}

.container .nav-field .nav-list .nav-item.active {
  border-radius: 999px;
  background: #201830;
}

.container .nav-field .nav-list .nav-item:hover {
  background-color: white;
  border-radius: 999px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.container .nav-field .nav-list .nav-item.active .nav-link {
  color: white;
}

.container .nav-field .nav-list .nav-item:hover .nav-link {
  color: white;
}

.container .nav-field .nav-list .nav-item:hover .nav-link {
  font-weight: 700;
}

.container .nav-field .nav-list .nav-item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #1a162e;
  font-weight: 500;
  font-size: 1.4rem;
}

article.field {
  width: 300px;
  overflow: auto;
  float: left;
  margin-right: 0rem;
  padding: 3rem 2.5rem 0rem 2.5rem;
  border-radius: 1rem 2rem 2rem 1rem;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
  margin-top: 3rem;
  margin-right: 3rem;
}

#home article.field {
  min-height: 777px;
}

#players article.field {
  min-height: 795px;
}

#fans article.field {
  min-height: 793px;
}

article.field .thumb {
  float: left;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 0.8rem;
  background: url(<path-to-image>) lightgray -117.25px 0px / 243.243% 100% no-repeat;
  margin-right: 1rem;
}

article.field .desc {
  color: #656689;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.container.form-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.container.form-container .subs-form {
  position: relative;
  user-select: none;
  margin-top: 2rem;
  display: flex;
}

.container.form-container .subs-form .email-submit-btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.6rem;
  border-radius: 50%;
  left: 28.5rem;
  top: 0.2rem;
  background-color: #ff5b2e;
}

.container label {
  display: block;
}

.container.form-container label {
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.4rem; /* 154.545% */
}

.container.form-container label.sub-label {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.container.form-container .desc {
  width: 700px;
  color: #656689;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.container.form-container form input::placeholder {
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.container.form-container form .info-getter {
  width: 300px;
  height: 4.6rem;
  outline: none;
  border-radius: 2.3rem;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  background: #fff;
  padding-left: 1rem;
}

.container.form-container form .info-getter.fav-players-gettter {
  width: 200px;
  height: 2.3rem;
  border-radius: 1rem;
}

.container.form-container form .info-getter:not(:placeholder-shown) {
  opacity: 1;
}

.container.form-container
  .subs-form
  input.email-input:not(:placeholder-shown)
  + .email-submit {
  opacity: 1;
}

.container.form-container .subs-form input.email-submit {
  user-select: none;
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 1;
  left: 33.3rem;
  top: 0rem;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.6;
  margin-left: -4.7rem;
  margin-top: 0.2rem;
}

.container.form-container .subs-form .email-submit:hover + .email-submit-btn {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.container.form-container .potm-form {
  display: flex;
}

.container.form-container form .jar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.container.form-container .subs-form.potm-form .jar:not(:first-of-type) {
  margin-left: 2rem;
}

.container.form-container .subs-form.potm-form .jar input {
  height: 100%;
}

.container.form-container .subs-form.potm-form .jar label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
}

.container.form-container form .submit-btn {
  cursor: pointer;
  width: 11.6rem;
  height: 4.8rem;
  border-radius: 0.6rem;
  background-color: #ff5b2e;
  outline: none;
  color: white;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem; /* 100% */
}

.container.form-container form .potm-submit {
  margin-left: 5rem;
}

.container.form-container form .submit-btn:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.container.form-container form .jar.join-jar {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.container.form-container form label.sub-label {
  margin-top: 2rem;
}

.container.form-container form .join-submit.submit-btn {
  margin-top: 2rem;
}

.container.form-container form .sub-jar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.container.form-container form .sub-jar input {
  margin: 0;
  margin-top: 0.01rem;
}

.container.form-container form .sub-jar .checkbox-label {
  color: #656689;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

footer .container {
  padding: 0rem 2rem 2rem 2rem;
}

footer .container h3 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem; /* 111.111% */
}

footer .container .desc {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem; /* 200% */
}

footer .container .jar {
}

footer .container .jar ul {
  display: flex;
  gap: 1rem;
}

footer .container .jar ul li a {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
}

footer .container .jar ul li a svg {
  padding: 0.9rem;
}

footer .container .jar .sub-desc {
  color: #000958;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem; /* 116.667% */
}
